<!-- <section fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxlayoutGap="3rem">
    <div class="column">
        <div class="mat-h1"><mat-icon>savings</mat-icon> Coin-up Plan</div>
        <p> Lay a minimum of ₦3,000.00 and get 1% every 24 hours. </p>
        <p> You get 1% return on your lay every 24 hours plus your initial amount</p>
    </div>

    <div class="column">
        <div class="mat-h1"><mat-icon>sell</mat-icon>  Coin-out Plan</div>
        <p> Lay a minimum of ₦5,000.00 and get 2% on your lay daily for a week. </p>
        <p> You get 2% return on your lay plus your initial amount after a week</p>
    </div>
</section> -->
<div>
    <section>
        <aside fxLayout="column">
            <span class="mat-h1">LAY PLANS</span>
            <div class="row" fxLayout="column">
                <div class="plan-img" fxLayout="row" fxHide.xs fxLayoutAlign="space-between center" fxLayoutGap="4rem" fxFlexFill>
                    <div>coin up</div>
                    <div>coin out</div>
                </div>
                <div class="plan-text" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="4rem" fxFlexFill>
                    <div>
                        <h1 class="mat-h1"><mat-icon>savings</mat-icon> Coin-up Plan</h1>
                        <p> Lay a minimum of ₦3,000.00 and get 1% every 24 hours. </p>
                        <p> You get 1% return on your lay every 24 hours plus your initial amount</p>
                    </div>
                    <div>
                        <h1 class="mat-h1"><mat-icon>sell</mat-icon>  Coin-out Plan</h1>
                        <p> Lay a minimum of ₦5,000.00 and get 2% on your lay daily for a week. </p>
                        <p> You get 2% return on your lay plus your initial amount after a week</p>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</div>