<div class="container">
	<section *ngIf="!deviceXs">
		<!-- Desktop -->
		<div class="form-container sign-up-container">
			<wager-signup></wager-signup>
		</div>
		<div class="form-container sign-in-container">
			<wager-signin></wager-signin>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button mat-flat-button color="accent" id="signIn">SIGN IN NOW</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button mat-flat-button color="accent" id="signUp">SIGN UP FOR FREE</button>
				</div>
			</div>
		</div>
	</section>

	<section *ngIf="deviceXs">
		<!-- Mobile -->

		<div fxLayout.xs="column" fxLayoutGap="2rem" *ngIf="!toggle">
			<wager-signin></wager-signin>
			<button mat-flat-button color="accent" (click)="toggleAuth()">SIGN UP FOR FREE</button>
		</div>

		<div fxLayout.xs="column" fxLayoutGap="2rem" *ngIf="toggle">
			<wager-signup></wager-signup>
			<button mat-flat-button color="accent" (click)="toggleAuth()">SIGN IN NOW</button>
		</div>
	</section>
</div>
