<div class="how-we-make-money">
    <section>
        <h3>How we make money?</h3>
        <div class="mat-body">
            <p>
                Traz Solutions $ Technologies as an IT organization for years have studied the betting industry and Wager is a product of our years of research.
            </p>

            <div>
                Our research proofs that to make consitent profit from sports betting, you need:
                <ul>
                    <li>Time</li>
                    <li>Effective strategy</li>
                    <li>Access to data and technology</li>
                    <li>Money</li>
                </ul>
            </div>

            <P>
                It's quiet possible to make money from sports betting, but to do so, you need patience and time, you need strategy and money lastly, data and technology. 
                We took years to study the betting market (Patience and time) and came up with a strategy and technology that helps us to lock in profit no matter which way the game goes.
            </P>

            <p>
                This platform is a place where we raise capital to employ our strategy and technology. Which helps us to lock in small profit in which way the bet goes.
            </p>

            <p>
                At Wager we do the hard work and share the profit with you, just for leaving your money with us.
            </p>
        </div>
    </section>
</div>
