div {
    background-color: #000;
    padding: 1rem 0;
    height: 30rem;
    //background: url('./../../../../assets/img/sports-betting-skills.png') center center no-repeat; 
    background: url('./../../../../assets/img/bet2.png');
    //background-image: linear-gradient(to left, rgba(194, 138, 122, 0.8) 26.48%, rgba(255, 158, 128, 0.8) 73.52%);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    section {
        margin: auto;
        width: 50%;
        aside {}
    }
}