.how-we-make-money {
    height: 30rem;
    //background: url('./../../../../assets/img/bet2.png');
    background-color: rgb(231, 231, 231);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    section {
        margin: auto;
        width: 50%;
        padding: 2rem 0;
        h3 {
            font-family: monospace;
            font-weight: bold;
        }
        .mat-body {
            color: black;
            font-family: monospace;
            text-align: justify;
        }
        
    }
}