<section>
    <div class="breadcrumb-wrap">
        <ul class="breadcrumb">
          <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/dashboard/lay/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About lay plans</a>
          </li>
          <li>Coin-up</li>
        </ul>
    </div>

    <mat-card class="coinup">
      <form fxLayout="column" fxLayoutAlign="space-between">
  
        <mat-form-field>
          <mat-label>Enter amount</mat-label>
          <input matInput name="cashupField" [(ngModel)]="cashupField" #cashupAmount (keyup)="getCashup(+cashupAmount.value)" type="number" maxlength="6" min="5000" max="100000">
          <mat-hint>Amount range for Coin-up is &#8358; 3,000.00 - &#8358; 100,000.00</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select lay duration</mat-label>
          <mat-select name="cashupSelect" [(ngModel)]="cashupSelect" #cashupDuration (selectionChange)="getCashup(+cashupAmount.value)">
            <mat-option> </mat-option>
            <mat-option value="27">1 Month</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="55">2 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="86">3 Months</mat-option> <!-- Minus 5 days for sunday-->
            <mat-option value="116">4 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="147">5 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="175">6 Months</mat-option> <!-- Minus 5 days for sunday-->
            <mat-option value="207">7 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="237">8 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="266">9 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="297">10 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="326">11 Months</mat-option> <!-- Minus 4 days for sunday-->
            <mat-option value="356">12 Months</mat-option> <!-- Minus 5 days for sunday-->
            <!-- NOTE: An average of 52 days will be deducted for sundays in a year -->
          </mat-select>
        </mat-form-field>
  
        <!-- <mat-slide-toggle #investFromBalanceBox [checked]="isInvestFromDepositBalance" (change)="chooseInvestmntOptions(investFromBalanceBox.checked)">Lay from withdrawable balance</mat-slide-toggle> -->
  
        <button [disabled]="cashupBtn" (click)="submitCashUp(+cashupAmount.value, cashupDuration.value)" type="button" mat-flat-button color="accent">SUBMIT</button>
  
      </form>
    </mat-card>

</section>
