<div class="breadcrumb-wrap">
    <ul class="breadcrumb">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li>
            <a [routerLink]="['/legal']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">legal</a>
        </li>
        <li>privacy policy</li>
    </ul>
</div>

<div class="content">
    <h1 class="mat-headline">
      Privacy Policy
    </h1>

    <p>
        This is our privacy policy for www.kudutask.com and all of its subdomains and pages (hereinafter referred to as the “Website”), as well as for managing personal data collected by any other means outside the Website related to customers, prospects, providers, partners and any third parties.
    </p>

    <p>
        This policy does not cover the data our Customers upload in our SaaS instances. 
        For that, you can see our Privacy Policy.
    </p>

    <p>
        This Website is the property of Traz Solutions. 
        We take the privacy of all of its visitors very seriously and therefore set out in this policy our position regarding certain privacy and security matters, such as:
    </p>

    <ul>
        <li>
            The information that we collect.
        </li>

        <li>
            The use of cookies on this Website.
        </li>

        <li>How we obtain the information.</li>

        <li>How we may use or disclose it.</li>

        <li>The measures we take to protect it.</li>

        <li>How individuals can contact us about our privacy practices.</li>
    </ul>

    <p>
        We always complied with the highest standards in Privacy matters. 
        As of May 25th 2018, we will also be complying with the General Data Protection Regulation (GDPR), which strengthens the rights that EU individuals have over their data.
    </p>

    <h1 class="mat-title">Information We Collect</h1>

    <p>
        This policy covers all data that is shared by a visitor to the website or that interacts with us via filling a form, chat, phone call, or via email. 
        In here you can find what happens to any personal data that you share with us, or that we collect from you either directly via this Website or any other means.
    </p>

    <p>
        In operating our Website or interacting with you we may collect and process the following data about you:
    </p>

    <ul>
        <li>Details of your visits to our Website and the resources that you access including, but not limited to, traffic data, location data, weblog statistics, click and scrolling behavior, and other communication data.</li>

        <li>Information that you provide by filling in forms on our Website, including when you register to a product trial, quote request, contact us page, newsletter, subscribe to our blog, webinars, and any other resources in our Website.</li>

        <li>Any professional information about you that is public.</li>

        <li>Any information provided to us when you communicate with us for any reason.</li>
    </ul>

    <p>
        We are the sole processors of this information, and we will not sell, rent, distribute or transfer it to anyone.
    </p>

    <h1 class="mat-title">Collection of Information through Google Analytics</h1>

    <p>
        We use Google Analytics to aggregate and analyze non-personal data about you, which may include your behavior in our site.
    </p>

    <h1 class="mat-title">Use of your Information</h1>

    <p>
        The information that we collect and store relating to you is primarily used to enable us to provide our services to you. 
        In addition, we may use the information for the following purposes:
    </p>

    <ul>
        <li>
            To provide you with information requested from us relating to our products or services and to provide information on other products which we feel may be of interest to you if you have consented to receive such information.
        </li>

        <li>
            To meet our contractual commitments to you.
        </li>

        <li>
            To notify you about any changes to our Website, such as improvements or service/product changes, that may affect our service.
        </li>

        <li>
            If you are an existing customer or a prospect, we may contact you with information about goods and services similar to those which were the subject of a previous sale to you.
        </li>

        <li>
            We may use your data for contacting you by phone or through emails offering you services, sharing industry blogs, articles, white papers, news about our products, our policies, etc.
        </li>

        <li>
            If you do not want to receive information from us, you can always unsubscribe clicking on the option we provide in all our emails.
        </li>

        <li>
            If you do not want us to use your data for ourselves or third parties you will have the opportunity to withhold your consent to this when you provide your details to us on the form on which we collect your data.
        </li>
    </ul>

    <h1 class="mat-title">Storing your Personal Data</h1>

    <ul>
        <li>
            We may transfer data that we collect from you to locations outside of the European Economic area for processing and storing. 
            In addition, it may be processed by staff operating outside the European Economic area who work for us or for one of our suppliers. 
            For example, such staff may be engaged in the processing and concluding of your order, the processing of your payment details and the provision of support services. 
            By using our Website, you consent to the collection, storage, transfer, and processing of information outside of your country of residence. 
            We will take all reasonable steps to make sure that your data is treated securely and in agreement with this Privacy Policy.
        </li>

        <li>
            Data that is provided to us is stored on our secure servers. 
            Details relating to any transactions entered via our site will be encrypted to ensure its safety. 
            You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
        </li>

        <li>
            We also protect your information offline.
            Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. 
            The computers/servers in which we store personally identifiable information are kept in a secure environment.
        </li>

        <li>
            The transmission of information via the internet is not completely secure and therefore we cannot guarantee the security of data sent to us electronically and the transmission of such data is entirely at your own risk. 
            Where we have given you (or where you have chosen) a password so that you can access certain areas of our site, you are responsible for keeping this password confidential.
        </li>
    </ul>


    <h1 class="mat-title">Data Retention</h1>

    <p>
        We will continue retaining information about you in the minimum volume in order to meet legal requirements and to enforce this Privacy Policy. 
        However, we may retain data that is not of personally identifiable nature.
    </p>

    <h1 class="mat-title">Disclosing your Information</h1>

    <p>
        We don’t disclose your personal information to third parties. 
        The only mitigating circumstances in which your information would be shared is in any event where we are legally required to do so, or to assist fraud protection and minimize credit risk.
    </p>

    <h1 class="mat-title">Your Access to and Control over Information</h1>

    <p>
        You may opt out of any future email contacts from us at any time, by clicking the unsubscribe option included in all our emails.
    </p>

    <p>
        You can also request to delete all your information and we will do so, unless we need that for fulfilling a legal obligation (eg: we have an agreement with you). You can do that at at any time by contacting us via the email dataprotection@kudutask.com.
    </p>

    <p>
        You can also send us an email for accessing or controlling your information, such as:
    </p>

    <ul>
        <li>
            Seeing what data we have about you, if any.
        </li>

        <li>
            Changing/correcting/updating any data we have about you.
        </li>

        <li>
            Have us delete any data we have about you.
        </li>

        <li>
            Express any concern you have about our use of your data.
        </li>
    </ul>

    <h1 class="mat-title">Third Party Links</h1>

    <p>
        You might find links to third party websites on our Website. These websites should have their own privacy policies which you should check. 
        We do not accept any responsibility or liability for their policies whatsoever as we have no control over them.
    </p>

    <h1 class="mat-subheading-2">Minors</h1>

    <p>
        No information may be submitted via the Website by persons who are minors under their applicable local legislation, as we do not knowingly or intentionally collect information about children. 
        In the event you are a minor or younger than legal age in your country, you will need consent from your parent(s) or other legal guardian(s) before submitting any information via this Website, with the exception that such activities are allowed by applicable law of your country.
    </p>

    <h1 class="mat-subheading-2">Contacting Us</h1>

    <p>
        We welcome any questions or comments you may have regarding this policy. 
        Please do not hesitate to contact us at dataprotection@kudutask.com.
    </p>

    <p>
        Last updated: April 2021
    </p>

</div>
