@media (max-width: 800px) {
    .delete-profile {
        margin-top: 1rem;
        width: 98%;
        padding: 3rem;
        button {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}