.delete-profile {
    margin-top: 1rem;
    width: 98%;
    button {
        margin-right: 3rem;
    }
    mat-slide-toggle {
        margin-top: 0.5rem;
        font-family: monospace;
        color: rgb(185, 18, 18);
    }
}