<section>
  <div class="breadcrumb-wrap">
      <ul class="breadcrumb">
        <li>
          <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard/lay/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About lay plans</a>
        </li>
        <li>Coin-out</li>
      </ul>
  </div>

  <mat-card class="coinout">
    <form fxLayout="column" fxLayoutAlign="space-between">

      <mat-form-field>
        <mat-label>Enter amount</mat-label>
        <input matInput id="amount" #cashoutAmount (keyup)="getCashout(+cashoutAmount.value)" type="number" maxlength="6" min="5000" max="100000">
        <mat-hint>Amount range for Coin-out is &#8358; 5,000.00 - &#8358; 100,000.00</mat-hint>
      </mat-form-field>

      <mat-slide-toggle #investFromBalanceBox [checked]="isInvestFromDepositBalance" (change)="chooseInvestmntOptions(investFromBalanceBox.checked)">Lay from withdrawable balance</mat-slide-toggle>

      <button type="button" [disabled]="cashoutBtn" (click)="onSubmit(+cashoutAmount.value)" mat-flat-button color="accent">SUBMIT</button>

    </form>
  </mat-card>

</section>
