<section fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxlayoutGap="3rem">
    <div class="column">
        <div class="mat-h1"><mat-icon>savings</mat-icon> Coin-up Plan</div>
        <p> Lay a minimum of ₦3,000.00 and get 1% every 24 hours. </p>
        <!-- <p> You can request withdrawal at the expiration of investement period or re-invest from your balance</p> -->
        <p> You get 1% return on your lay every 24 hours plus your initial amount</p>
    </div>

    <div class="column">
        <div class="mat-h1"><mat-icon>sell</mat-icon>  Coin-out Plan</div>
        <p> Lay a minimum of ₦5,000.00 and get 2% on your lay daily for a week. </p>
        <p> You get 2% return on your lay plus your initial amount after a week</p>
    </div>

    <!-- <div class="column">
        <div class="mat-h1"><mat-icon>payments</mat-icon> Wager</div>
        <p> After adequate and thourough analysis of daily games, we display 3 of our best choice at interval of morning, afternoon and evening. </p>
        <p> You make more winnings using our Wagers.</p>
    </div> -->
</section>
