<div>
    <section>
        <aside fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"  fxFlexFill>
            <div class="msg-area">
                <h3>Get in touch</h3>
                <p>
                    If you have a specific request, please contact us using the support center and someone from our support section will follow up with your request shortly.
                </p>
            </div>
            <div class="btn-area" fxLayoutAlign="end" >
                <a [routerLink]="['/contacts']" mat-flat-button color="accent">SUPPORT CENTER</a>
            </div>
        </aside>
    </section>
</div>
