div {
    padding: 2rem 0;
    height: auto;
    section {
        margin: auto;
        width: 50%;
        aside {
            .msg-area {
                h3 {
                    font-family: monospace;
                    font-weight: bold;
                }
                width: 60%;
                color: #1d2038;
                font-family: monospace;
            }
            .btn-area {
                width: 40%;
                //background-color: green;
            }
        }
    }
}