<div fxLayout="column" fxLayoutGap="2rem">

    <div class="about-background">
        <div class="about" fxFlex="50" fxFlex.xs="80">
            <p class="mat-h1">About Wager</p>

            <p>
                In a nutshell, RXAVA LTD is an investment consulting and money management firm. 
                We offer the best and most reliable legal investment methods in digital assets, notably cryptocurrencies. 
                These individuals and groups pay us for our services as we take a commission from the profit we make from investing their money. 
                As our client base increases, our capital increases correspondingly.
            </p>

            <p>
                For years, we focused on providing our service exclusively to the United Kingdom community. 
                After delivering years of satisfactory service to our UK clients, we decided to expand our services to other parts of the world by taking advantage of the Internet and the online community.
            </p>

            <p>
                As our company goes public, potential clients from any part of the world can reach out to us, invest their money, and earn passively from their investments through our company. 
                We treat our investors as VIPs because they are an integral part of our company and our success story.
            </p>
        </div>
    </div>

    <div class="plan-background">
        <div class="plan" fxFlex="50" fxFlex.xs="80">
            <p class="mat-h1">Our Unique Investment Approach</p>

            <span>
                <p class="mat-h2">Invest with Us</p>
                <p>We are working around the clock to provide an innovative online investment model. 
                    We rely on our network of entrepreneurs, investors, and institutions who have contributed immensely to our growth to achieve our lofty goal of shaping the online investing industry.
                </p>
            </span>

            <span>
                <p class="mat-h2">Exact</p>
                <p>
                    At RXAVA LTD, we channel our efforts towards creating an effective and winning strategy. 
                    We thereby invest in cryptocurrencies and digital money, our little way of supporting the financial technology infrastructure’s development.
                </p>      
            </span>

            <span>
                <p class="mat-h2">Live</p>
                <p>
                    We have a mission: speed up the development of a more robust online investment system. 
                    Through investment in digital money, we help companies and individuals to build a more promising future.
                </p>
            </span>
        </div>
    </div>

    <div class="registered-background">
        <div class="registered" fxFlex="50" fxFlex.xs="80">
            <p class="mat-h1">Authorized Nigeria registered company</p>
            <p>
                RXAVA LTD operates in total compliance with existing industry laws and regulations, especially in trading, investing, and digital assets. 
                We are licensed for operation by the Registrar of Companies for England and Wales as a Private Limited Company.
            </p>
        </div>
    </div>
</div>
