<div class="breadcrumb-wrap">
    <ul class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/security']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Security</a>
      </li>
      <li>password</li>
    </ul>
</div>

<section *ngIf="user" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutAlign="space-between start" >
  <wager-change-password [user]="user" fxFlex="50"></wager-change-password>
  <wager-mfa [user]="user" fxFlex="50"></wager-mfa>
</section>