<div>
    <section>
        <aside fxLayout="column" fxFlexFill>
            <div class="first-row" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="center center"  fxFlexFill fxLayoutGap="4rem">
                <div class="about-text">
                    <h1 class="mat-h1">
                        Join a changing world of bettors <!-- <span>in three easy steps</span> -->
                    </h1>
                    <p>
                        Welcome to the era of offshore companies, the leading names in the global financial industry. 
                        RXAVA LTD, a United Kingdom-based and registered company, is poised to make a lasting impact in the global financial industry as an offshore company.
                        After working in the background for years, we decided to contribute to the online field after extensive market research and internal discussion.
                        It's our little way of achieving our organizational goals.
                    </p>
                </div>
                <div class="about-img" fxLayoutAlign="end center">
                    <div>
                        box
                    </div>
                </div>
            </div>
            <div class="second-row" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="space-between center" fxFlexFill fxLayoutGap="2rem">
                <div>1 Open account</div>
                <div>2 credit your account</div>
                <div>3 choose a lay plan</div>
            </div>
            <div class="third-row" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="2rem">
                <div>START THE FUTURE TODAY</div>
                <button mat-flat-button color="accent">GET STARTED</button>
            </div>
        </aside>
    </section>
</div>

