div {
    background-color: whitesmoke;
    padding: 1rem 0;
    section {
        margin: auto;
        width: 50%;
        aside {
            .first-row {
                .about-text {
                    width: 50%;
                    font-family: monospace;
                    h3 {
                        font-family: monospace;
                        font-weight: bold;
                    }
                    p {
                        width: 100%;
                        text-align: justify;
                    }
                }
                .about-img {
                    width: 50%;
                    div {
                        border: 3px solid #2c2f41;
                        border-radius: 1rem;
                        padding: 10px;
                        height: 4rem;
                        width: 20rem;
                    }
                }
            }
            .second-row {
                div {
                    border: 3px solid #2c2f41;
                    border-radius: 1rem;
                    padding: 10px;
                    height: 4rem;
                    width: 20rem; 
                }
            }
        }
    }
}
