<div class="breadcrumb-wrap">
  <ul class="breadcrumb">
    <li>
       <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a [routerLink]="['/legal']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">legal</a>
    </li>
    <li>terms of service</li>
  </ul>
</div>

<div class="content">
  <h1 class="mat-headline">
    Terms of Service
  </h1>
  <p class="mat-subheading-2">
    BY USING OR ACCESSING OUR WEBSITE OR DOWNLOADING MATERIALS FROM OUR WEBSITE YOU AGREE TO BE LEGALLY BOUND BY THESE TERMS OF USE.
  </p>

  <p>
    This Terms of Use Agreement (the “Agreement”) is a legal agreement between you and Traz Solutions (Traz Solutions, “we”, or “us”) governing your use of this website (the “Website”).
  </p>

  <h1 class="mat-title">General</h1>

  <p>
    Please note that by accessing, viewing, using, or downloading materials from the Website, you agree to be legally bound by all of the terms, conditions, and notices contained or referenced in this Agreement.
  </p>

  <p>
    We may revise the information on the Website or otherwise change or update the Website, including this Agreement. 
    A current version of this Agreement showing the effective date is always available at this location. 
    We encourage you to periodically review this Agreement to see if there have been any changes to our policies that may affect you. 
    We may also make improvements and/or changes in products described on this Website, add new features, or terminate this Website at any time without notice. 
    If you do not agree to the Agreement as modified, then you must discontinue your use of the Website. 
    Your continued use of this Website will signify your continued agreement to this Agreement as it may be revised.
  </p>

  <h1 class="mat-title">User-Submitted Information and Grant of License</h1>

  <p>
    You must exercise caution, good sense, and sound judgment in using this Website. 
    You are responsible for any material and information (“Content”) you transmit to us through the Website (or through email). 
    You agree, represent, and warrant that any Content you transmit to us through the Website (or through email) is truthful, accurate, not misleading, and offered in good faith, and that you have the right to transmit such Content. 
    Certain Content collected from you on the Website is subject to our Privacy Policy available at <a [routerLink]="['/legal/privacy']">privacy-policy</a>.
  </p>

  <p>
    Traz Solutions does not want you to, and you should not, send any confidential or proprietary Content to us through this Website unless specifically requested. 
    Please note that any unsolicited Content sent to us will be deemed not to be confidential or proprietary.
  </p>

  <p>
    Traz Solutions does not want you to, and you should not, send any confidential or proprietary Content to us through this Website unless specifically requested. 
    Please note that any unsolicited Content sent to us will be deemed not to be confidential or proprietary.
  </p>

  <p>
    By submitting Content, other than personally identifiable information, through this Website, 
    you grant to Traz Solutions (or warrant that the owner of such information and material has expressly granted to Traz Solutions) a royalty-free, perpetual, 
    irrevocable, and unrestricted right and license (a) to use, reproduce, display, modify, adapt, publish, translate, transmit, 
    and distribute or otherwise make available to others such Content (in whole or in part and for any purpose) worldwide and/or to incorporate it in other works in any form, 
    media, or technology now known or hereafter developed; (b) to exercise all copyright, trademark, publicity, privacy, 
    and other proprietary rights with regard to such Content; and (c) to use your name, or screen name, hometown, photograph, portrait, picture, voice, likeness, 
    and biographical information as news or information in any and all media, and for advertising or promotional purposes, whether or not in connection with your Content. 
    You also hereby grant each user of the Website a non-exclusive license to access your Content through the Website, and to tag, rate, review, comment on, use, reproduce, distribute, display, and perform such Content as permitted through the functionality of the Website and under this Agreement. 
    You also agree that Traz Solutions is free to use any ideas, concepts, know-how, or techniques that you send to us for any purpose. 
    PLEASE DO NOT SEND US ANY IDEAS, SUGGESTIONS, OR OTHER CONTENT THAT YOU WISH US TO KEEP CONFIDENTIAL OR FOR WHICH YOU EXPECT TO RECEIVE COMPENSATION.
  </p>

  <p>
    You shall not upload, post, or otherwise make available on or through this Website any Content protected by copyright, trademark, or other proprietary right of any third party without the express written permission of the owner of such right(s). 
    You shall be solely liable for any damages resulting from any infringement of copyright, proprietary rights, or any other harm resulting from such a submission.
  </p>

  <h1 class="mat-title">Registration</h1>

  <p>
    You are not obligated to register with us in order to access this Website. However, certain sections and features of this Website are available only to visitors to this Website who have registered for user IDs and passwords (“Secure Users”). 
    If you are a Secure User, you agree to accurately maintain and update any information about yourself that you have provided to us. If you do not maintain such information, or we have reasonable grounds to suspect as much, we have the right to suspend or terminate your account and your use of this Website. 
    You further agree that you are responsible for all activities that occur under your Secure User account or password. You are responsible for maintaining the confidentiality of your password and for restricting access to your computer so others may not access the Website in violation of this Agreement. 
    You may only have one active Secure User account on this Website at any given time and only you may use your designated account to access the Website. 
    You also agree to promptly notify us of any unauthorized use of your username, password, or any other breach of security that you become aware of involving or relating to this Website by emailing us at dataprotection@Traz Solutions.com. 
    In addition, you agree to exit from your Secure User account at the end of each session. 
    WE EXPLICITLY DISCLAIM LIABILITY FOR ANY AND ALL LOSSES AND DAMAGES ARISING FROM YOUR FAILURE TO COMPLY WITH THIS SECTION.
  </p>

  <h1 class="mat-title">Website Security</h1>

  <p>
    You are prohibited from violating, or attempting to violate, the security of this Website. 
    Any such violations may result in criminal and/or civil penalties against you. 
    We will investigate any alleged or suspected violations and if a criminal violation is suspected, we will co-operate with law enforcement agencies in their investigations.
  </p>

  <h1 class="mat-title">Unauthorized Use or Access</h1>

  <p>
    Unless otherwise expressly authorized in this Agreement or on the Website, you may not take any action to interfere with the Website or any other user’s use of the Website. 
    While using the Website you are required to comply with all applicable statutes, orders, regulations, rules, and other laws. 
    In addition, we expect users of the Website to respect the rights and dignity of others. 
    Your use of the Website is conditioned on your compliance with the rules of conduct set forth in this section. 
    You may not (and you expressly agree that you will not) do any of the following, which violate this Agreement: 
  </p>

  <ul>
    <li>
      Post, upload, share, transmit, distribute, facilitate distribution, or otherwise make available to or through this Website any unlawful, infringing, harmful, harassing, defamatory, threatening, intimidating, fraudulent, tortious, vulgar, or otherwise objectionable material of any kind, including unauthorized or unsolicited advertising;
    </li>

    <li>
      Impersonate any person or entity, including without limitation any representative of Traz Solutions; falsely state or otherwise misrepresent your affiliation with any person or entity in connection with the Website; or express or imply that we endorse any statement you make;
    </li>

    <li>
      Disseminate on the Website any viruses, worms, spyware, adware, or other malicious computer code, file or program that is harmful or invasive or may or is intended to damage or hijack the operation of, or monitor the use of, any hardware, software or equipment;
    </li>

    <li>
      Use the Website to defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights of others, including without limitation others’ privacy rights or rights of publicity, or harvest or collect personally identifiable information about users of the Website;
    </li>

    <li>
      Interfere with or disrupt the operation of the Website or others’ use of the Website in any way (including without limitation by hacking or defacing any portion of the Website);
    </li>

    <li>
      Reproduce, duplicate, copy, sell, resell, or otherwise exploit for any commercial purposes, any portion of, use of, or access to the Website;
    </li>

    <li>
      Modify, adapt, translate, reverse engineer, decompile or disassemble any portion of the Website;
    </li>

    <li>
      Remove any copyright, trademark or other proprietary rights notice from the Website or materials originating from the Website;
    </li>

    <li>
      Use the Website for any fraudulent or unlawful purpose;
    </li>

    <li>
      Violate any applicable laws or regulations; or
    </li>

    <li>
      Assist or permit any persons in engaging in any of the activities described above.
    </li>
  </ul>

  <h1 class="mat-title">Our Intellectual Property Rights</h1>

  <h1 class="mat-subheading-2">Copyright</h1>

  <p>
    Content made available on this Website is protected by copyright, and, except as set forth below, the use of any Content available on this Website is strictly prohibited. No Content from this Website may be copied, reproduced, republished, uploaded, posted, transmitted, or distributed in any way without written permission of the rights owner, except that you may use Content purposely made available by us for downloading from this Website, provided that you 
    (1) keep intact all copyright and other proprietary notices, 
    (2) use such information pursuant to any licenses associated with such Content, 
    (3) do not copy or post such information on any networked computer or broadcast it in any media, 
    (4) make no modifications to any such information, and 
    (5) do not make any additional representations or warranties relating to such information. You agree not to circumvent, disable, or otherwise interfere with security-related features of this Website or features that prevent or restrict use or copying of any Content.
  </p>

  <p>
    Any unauthorized use or modification of any of the Content available on this Website is a violation of the copyrights and other proprietary rights of Traz Solutions, or other copyright owners where so indicated. Permission for all other uses of Content contained herein, including reproducing and distributing multiple copies or using Content on any other website or networked computer or linking to any page at this Website except the “home page” www.Traz Solutions.com must be obtained from us or the appropriate rights owner in advance; otherwise, such use is prohibited. 
    Requests for such authorization from us should be submitted via an email to info@Traz Solutions.com. 
    All design rights, databases and compilation, and other intellectual property rights associated with this Website, in each case whether registered or unregistered, and related goodwill, are proprietary to Traz Solutions. 
    Except as otherwise expressly authorised herein or in writing in advance by Traz Solutions, you agree not to reproduce, modify, rent, lease, loan, sell, distribute, or create derivative works based (whether in whole or in part) on all or any part of the Website or the Content.
  </p>

  <h1 class="mat-subheading-2">Trademarks</h1>

  <p>
    All rights in the trademarks, service marks, logos, trade names, product names, product packaging, and designs of Traz Solutions or third parties whether or not appearing in large print or with the trademark symbol, belong exclusively to us or their respective owners and are protected under national and international trademark and copyright laws. 
    You are not permitted to reproduce, download or otherwise use such trademarks, service marks, logos, trade names, product names, product packaging, and designs without the prior express written consent of the owner of such mark.
  </p>

  <h1 class="mat-subheading-2">Notice of Copyright Infringement</h1>

  <p>
    If you believe that any Content on this Website infringes upon any copyright which you own or control, you may send a written notification to our Designated Copyright Agent (the “Designated Agent”) as set forth below.
  </p>

  <p>
    <strong>Designated Agent:</strong> Traz Solutions
  </p>

  <p>
    <strong>Email:</strong> info@kudutask.com
  </p>

  <p>
    If you believe that your copyrighted work is available on the Website in violation of your copyright, you may provide our Designated Agent with a written notice which contains substantially the following information:
  </p>

  <ol>
    <li>
      Identify in sufficient detail the copyrighted work or intellectual property that you claim has been infringed so that we can locate the alleged infringing material. If multiple copyrighted works are covered by your notification, you may provide a representative list of such works.
    </li>

    <li>
      Identify the URL or other specific location on the Website that contains the alleged infringing material described in Item (a) above. 
      You must provide us with reasonably sufficient information to enable us to locate the alleged infringing material.
    </li>

    <li>
      Provide the electronic or physical signature of the owner of the copyright or a person authorized to act on the owner’s behalf.
    </li>

    <li>
      Include a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.
    </li>

    <li>
      Include a statement by you that the information contained in your notice is accurate and that you attest under penalty of perjury that you are the copyright owner or that you are authorized to act on the copyright owner’s behalf.
    </li>

    <li>
      Include your name, mailing address, telephone number, and email address.
    </li>

  </ol>

  <p>
    We have adopted a policy of terminating, in appropriate circumstances and at our sole discretion, users of the Website who are deemed to be repeat infringers.
  </p>

  <h1 class="mat-title">Links to Affiliate or Third-Party Websites</h1>

  <p>
    We may provide on this Website, solely as a convenience to users, links to websites operated by our affiliates or other entities. 
    If you use these websites, you will leave this Website. 
    If you decide to visit any linked website, you do so at your own risk, and it is your responsibility to take all protective measures to guard against viruses or other destructive elements. We do not make any warranty or representation regarding, or endorse or otherwise sponsor, any linked websites or the information appearing thereon or any of the products or services described thereon. Links do not imply that Traz Solutions is legally authorised to use any trademark, trade name, logo, or copyright symbol displayed in or accessible through the links; or that any linked website is authorized to use any trademark, trade name, logo, or copyright symbol of Traz Solutions.
  </p>

  <p>
    YOU AGREE THAT YOUR USE OF THIRD-PARTY WEBSITES AND RESOURCES, INCLUDING WITHOUT LIMITATION YOUR USE OF ANY CONTENT, INFORMATION, DATA, ADVERTISING, PRODUCTS, OR OTHER MATERIALS ON OR AVAILABLE THROUGH SUCH WEBSITES AND RESOURCES, IS AT YOUR OWN RISK AND IS SUBJECT TO THE TERMS AND CONDITIONS OF USE APPLICABLE TO SUCH SITES AND RESOURCES.
  </p>

  <h1 class="mat-subheading-2">Third-Party Content</h1>

  <p>
    Any information, statements, opinions, or other information provided by third parties and made available on this Website are those of the respective author(s) and not Traz Solutions. 
    We do not guarantee the validity, accuracy, truthfulness, completeness, reliability, or usefulness of any opinion, advice, service, offer, statement, or other Content on the Website other than those from an authorised Traz Solutions representative acting in his/her official capacity. Under no circumstance will Traz Solutions be liable for or in connection with any loss or damage caused by your reliance on any Content.
  </p>

  <h1 class="mat-subheading-2">Social Networking Pages</h1>

  <p>
    We maintain a presence on several social networking websites, including facebook.com, linkedin.com, and twitter.com, (collectively, “Social Networking Pages”) to provide a place for people to learn more about Traz Solutions and to share experiences with our products. All comments, visuals, and other materials posted by visitors to our Social Networking Pages do not necessarily reflect the opinions or ideas of Traz Solutions. All visitors to our Social Networking Pages must comply with the respective social networking website’s Terms of Use. 
    We review some but not all postings to our Social Networking Sites, and we will remove any postings that we have determined are inappropriate or offensive.
  </p>

  <h1 class="mat-subheading-2">Termination</h1>

  <p>
    We may terminate your use of this Website or any of its features at any time and for any reason without notice for conduct violating this Agreement. Upon any such termination, you must destroy all Content obtained from this Website and all copies thereof. 
    The provisions of this Agreement concerning Website security, prohibited activities, copyrights, trademarks, user submissions, disclaimer, limitation of liability, indemnity, and jurisdictional issues shall survive any such termination. 
    You agree that if your use of this Website is terminated pursuant to this Agreement, you will not attempt to use this Website under any name, real or assumed, and further agree that if you violate this restriction after being terminated, you indemnify and hold us harmless from any and all liability that we may incur therefore.
  </p>

  <h1 class="mat-subheading-2">Disclaimer of Warranty</h1>

  <p>
    TRAZ SOLUTIONS DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE, VALIDITY, ACCURACY, RELIABILITY OF, OR OTHERWISE RESPECTING THE CONTENT AVAILABLE ON THIS WEBSITE OR ANY OTHER WEBSITES LINKED TO OR FROM THIS WEBSITE. 
    DOWNLOADING OR OTHERWISE OBTAINING ANY CONTENT THROUGH THIS WEBSITE IS DONE AT YOUR OWN RISK. THE CONTENT OF THIS WEBSITE IS PROVIDED “AS IS” AND ON AN “AS AVAILABLE” BASIS, WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. 
    TO THE FULLEST EXTENT POSSIBLE UNDER APPLICABLE LAW, TRAZ SOLUTIONS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT.
  </p>

  <h1 class="mat-subheading-2">Limitation of Liability</h1>

  <p>
    TRAZ SOLUTIONS AND EACH OF ITS AFFILIATES, SUBSIDIARIES, DIVISIONS, PARENT, AND RELATED COMPANIES (COLLECTIVELY, THE “RELEASEES”) WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING OUT OF OR RELATING TO THE USE OR THE INABILITY TO USE THIS WEBSITE, ITS CONTENT OR LINKS, INCLUDING BUT NOT LIMITED TO DAMAGES CAUSED BY OR RELATED TO ERRORS, OMISSIONS, INTERRUPTIONS, DEFECTS, DELAY IN OPERATION OR TRANSMISSION, OR ANY COMPUTER VIRUS OR LINE FAILURE. 
    RELEASEES WILL ALSO NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
    SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
  </p>

  <p>
    RELEASEES SHALL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY ACTS, OMISSIONS OR CONDUCT OF ANY USER OR OTHER THIRD PARTY.
  </p>

  <h1 class="mat-subheading-2">Indemnity</h1>


  <p>
    You agree to indemnify, defend and hold Traz Solutions and its directors, officers, employees, agents, and contractors harmless from and against any and all claims, damages, losses, costs (including without limitation reasonable attorneys’ fees), or other expenses that arise directly or indirectly out of or from (i) your breach of any provision of this Agreement; (ii) your activities in connection with this Website; or (iii) unsolicited information you provide to Traz Solutions through the Website.
  </p>

  <h1 class="mat-subheading-2">Children</h1>

  <p>
    This Website is intended for use only by persons over the age of 18. 
    We do not seek to collect information about children under the age of 18. 
    If you are under 18 years of age, please do not use or access this Website at any time or in any manner. 
    By using the Website, you affirm that you are over the age of 18.
  </p>

  <h1 class="mat-subheading-2">Effect of Invalidity</h1>

  <p>
    In the event a court having jurisdiction finds any portion of this agreement unenforceable, that portion shall not be effective and the remainder of the agreement shall remain effective.
  </p>

  <h1 class="mat-subheading-2">Jurisdictional Issues</h1>

  <p>
    The Website is controlled and operated by Traz Solutions from our offices within Argentina. We make no representation that materials in the Website are appropriate or available for use in other locations. Those who choose to access the Website from other locations do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. 
    Access to the Website from jurisdictions where the contents of the Website are illegal or penalized is prohibited.
  </p>

  <p>
    You agree that any dispute in connection with the Website, this Agreement, or the Privacy Policy will be governed by the laws of Argentina. 
    You also consent to the adjudication of any disputes arising in connection with the Website in the courts of Argentina.
  </p>

  <h1 class="mat-subheading-2">Contact</h1>

  <p>
    If you have questions about this Agreement, or if you have technical questions about the operation of the Website, please contact us at: info@kudutask.com
  </p>

  <p>
    These terms and conditions were last updated on 01/04/2020.
  </p>

</div>