<a mat-button>
    <mat-icon>circle_notifications</mat-icon>
    <span 
        [matMenuTriggerFor]="appNotification" 
        [matMenuTriggerData]="{user: currentUser}" 
        [matBadge]="notificationCount" 
        matBadgeOverlap="false" 
        [matBadgeHidden]="notificationCount === 0">
        Notifications
    </span>
</a>

<mat-menu #appNotification="matMenu" xPosition="after">
    <ng-template matMenuContent let-user="user">
        <!-- <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log off {{user.firstname}}</button> -->
        <div class="content">

            <section *ngFor="let notification of UnreadNotifications">
                <div class="mat-h3">
                    {{notification.title | titlecase}}
                </div><br>
                <div class="mat-body">
                    Hi {{user.firstname}}.
                    {{notification.body }}
                </div>
                <div class="btn" fxLayout="row" fxLayoutAlign="space-between end">
                    <button class="markAsRead" mat-button color="primary" (click)="markAsRead(notification._id)">Mark as read</button>
                    <button class="delete" mat-button color="warn" (click)="deleteNotification(notification._id)">Delete</button>
                </div>
            </section>

            <div class="view-all">
                <a [routerLink]="['/dashboard/notifications']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">View all</a>
            </div>
        </div>
        
    </ng-template>
</mat-menu>