<div *ngIf="isEmptyResponse then showResult else noResult"></div>
<ng-template #showResult>
<section>

    <div class="filter">
        <mat-form-field>
            <mat-label>Search Table</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="histories" matSort class="mat-elevation-z5">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> S/n </th>
          <td mat-cell *matCellDef="let history; let i = index;"> {{i + 1}} </td>
        </ng-container>
      
        <!-- Investment ID Column -->
        <ng-container matColumnDef="transactionId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Transactions Ref </th>
          <td mat-cell *matCellDef="let history"> {{history.transactionId}} </td>
        </ng-container>
      
        <!-- Plan Column -->
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
          <td mat-cell *matCellDef="let history"> {{history.plan}} </td>
        </ng-container>
      
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let history"> {{history.amount | currency:'NIG':'&#8358;' }} </td>
        </ng-container>
    
        <!-- Period Column -->
        <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Period </th>
            <td mat-cell *matCellDef="let history"> 
                <span [ngSwitch]="history.period">
    
                    <!-- Coinout -->
                    <span *ngSwitchCase="6">1 Week </span>
    
                    <!-- Coinup -->
                    <span *ngSwitchCase="27">1 Month</span>
                    <span *ngSwitchCase="55">2 Months</span>
                    <span *ngSwitchCase="86">3 Months</span>
                    <span *ngSwitchCase="116">4 Months</span>
                    <span *ngSwitchCase="147">5 Months</span>
                    <span *ngSwitchCase="175">6 Months</span>
                    <span *ngSwitchCase="207">7 Months</span>
                    <span *ngSwitchCase="237">8 Months</span>
                    <span *ngSwitchCase="266">9 Months</span>
                    <span *ngSwitchCase="297">10 Months</span>
                    <span *ngSwitchCase="326">11 Months</span>
                    <span *ngSwitchCase="356">12 Months</span>
    
                    <!-- Wager -->
                    <span *ngSwitchCase="1">1 Day</span>
    
                    <!-- Otherwise -->
                    <span *ngSwitchDefault>Unknown period</span>
                </span>
            </td>
        </ng-container>
    
        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let history"> {{history.start | date }} </td>
        </ng-container>
    
          <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let history"> {{ expiryDate(history.start, history.period) | date }}</td> 
          </ng-container>
    
        <!-- Days Past Column -->
        <ng-container matColumnDef="daysPast">
            <th mat-header-cell *matHeaderCellDef> Days Past </th>
            <td mat-cell *matCellDef="let history"> {{ getNumberOfDaysPast(history.start, history.period) }} </td>
        </ng-container>
    
        <!-- Days Left Column -->
        <ng-container matColumnDef="daysLeft">
            <th mat-header-cell *matHeaderCellDef> Days Left </th>
            <td mat-cell *matCellDef="let history"> {{ numberOfDaysLeft(history.start, history.period) }} </td>
        </ng-container>

        <!-- Profit Column -->
        <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef> Profit </th>
            <td mat-cell *matCellDef="let history"> {{ investmentProfit(history.plan, history.start, history.amount, history.period, history.wager) | currency:'NIG':'&#8358;' }} </td>
        </ng-container>     
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row [ngClass]="{
            'closed-deal': closedDeals(history.start, history.period),
            'getLessThanOneWeek': getLessThanOneWeek(history.start,history.period),
            'getLessThanOneMonth': getLessThanOneMonth(history.start, history.period)
            }" *matRowDef="let history; columns: displayedColumns;">
        </tr>

      </table>

      <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</section>
</ng-template>

<ng-template #noResult>
  <div class="isEmptyResponse">
      No lay transaction found
  </div>
</ng-template>
