section {
    .filter {
        background-color: white;
        height: 100%;
        padding: 1rem;
        margin-bottom: -2rem;
        mat-form-field {
            width: 30%;
        }
    }
    table {
        width: 100%;
        margin-top: 2rem;

        // this class is programatically added on the template
        .closed-deal {
            text-decoration: line-through;
        }

        .unsettledWager {
            color: inherit !important;
        }

        .getLessThanOneWeek {
            color: #2fd358 !important;
        }

        .getLessThanOneMonth {
            color: #d6eb1e !important;
        }
    }  
}

.isEmptyResponse {
    text-align: center;
    padding: 3rem;
    color: #d39f2f;
}

