<div class="breadcrumb-wrap">
    <ul class="breadcrumb">
      <li>
         <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li>
        <a [routerLink]="['/legal']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">legal</a>
      </li>
      <li>cookies policy</li>
    </ul>
  </div>
  

  <div class="content">
    <h1 class="mat-headline">
      Cookies Policy
    </h1>

    <p>
      We may gather information about your computer using cookies or similar technologies. 
      A cookie is a small text file that is sent to your computer when you visit a website. Where used, these cookies are downloaded to your computer automatically and stored on your hard drive. 
      This helps you and us when you come back to our site, since it will recognize you by storing preferences and other information that will save you time when you return.
    </p>

    <p>
      That will also help us to analyze trends, administer the Website, track users' movements around the Website, and to gather demographic information about our user base as a whole. 
      Since it allows us to analyse how visitors interact with the Website, it will also help us to continue developing and improving it.
    </p>

    <p>
      All computers have the ability to decline cookies, which can be done by activating the appropriate setting on your browser. You can also delete cookies that have already been set. 
      Please note that should you choose to decline cookies, you may be unable to access particular areas of our Website.
    </p>

    <p>
      Any advertising featured on this Website may also incorporate cookies, over which we have no control. 
      Such cookies (if used) would be downloaded once you click on advertisements on our Website.
    </p>

    <p>
      For more information on cookies you can read the guidance at <a href="https://www.allaboutcookies.org/" target="_blank">All About Cookies</a>.
    </p>
  
  </div>
