mat-card {
    width: auto;
    height: 5rem;
    padding: 2rem 0 0 0;
    font-family: monospace;
    color: rgb(22, 122, 37);
    mat-card-content {
        mat-icon {
            font-size: 2.5rem;
            margin-top: 0.5rem;
        }
        span {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
    }
    mat-card-footer {
        background-color: rgb(175, 223, 182);
        width: 100%;
        color: black;
        padding: 1rem;
        text-align: center;
    }
}