<mat-card>
    
    <mat-card-header>
      <mat-card-title>Password Information</mat-card-title>
      <!-- <mat-card-subtitle>{{user.firstname | titlecase}} {{user.lastname | titlecase}}</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
      <div class="mat-subheading-1">Change Password Information</div>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">

          <mat-form-field>
            <mat-label>Current password</mat-label>
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
            <div mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-pressed]="hideCurrentPassword">
              <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <!-- <mat-hint class="hint" align="start">The bank account name should be same as your profile name</mat-hint> -->
            <mat-error *ngIf=" passwordForm.get('currentPassword').hasError('pattern')">
              Password should be minimum of 8 characters
          </mat-error>
          <mat-error *ngIf=" passwordForm.get('currentPassword').hasError('required')">
              Your password is required
          </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
            <div mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-pressed]="hideNewPassword">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <mat-hint class="hint" align="start">New password should be considerably different from current password</mat-hint>
            <mat-error *ngIf=" passwordForm.get('newPassword').hasError('pattern')">
              Password should be minimum of 8 characters
          </mat-error>
          <mat-error *ngIf=" passwordForm.get('newPassword').hasError('required')">
              Your password is required
          </mat-error>
          </mat-form-field>

          <button [disabled]="passwordForm.invalid" mat-flat-button color="accent">CHANGE PASSWORD</button>

      </form>
  </mat-card-content>

  </mat-card>
