mat-card {
    width: auto;
    margin-left: 1rem; 
    mat-card-header {
        margin-top: 16px;
    } 
    mat-card-content {
        padding: 1rem;
        form {
            mat-form-field {
                width: 100%;
                .hint {
                    color: orange;
                    font-family: monospace;
                    font-size: 0.8rem;
                }
                div {
                    mat-icon {
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }
            }
            button {
                margin-top: 25px;
            }
        }
    }
}