mat-card {
   background-color: whitesmoke;
    .warning {
        color: rgb(255, 115, 0);
    }
    .icons {
        .email {
            cursor: pointer;
            color:rgb(255, 115, 0)
        }
        .email:hover {
            color: gray;
        }
        .close {
            margin-left: 15px;
            float: right;
            cursor: pointer;
        }
    }
}